<div id="<%= dom_id new_movie %>">
  <p>
    <strong>Title:</strong>
    <%= new_movie.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= new_movie.description %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= new_movie.director %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= new_movie.rating %>
  </p>

</div>
