<p style="color: green"><%= notice %></p>

<%= render @new_movie %>

<div>
  <%= link_to "Edit this new movie", edit_new_movie_path(@new_movie) %> |
  <%= link_to "Back to new movies", new_movies_path %>

  <%= button_to "Destroy this new movie", @new_movie, method: :delete %>
</div>
